<!DOCTYPE html>
<html>
<head>
    <title><%- pageTitle %></title>
    <meta charset="utf-8">
    <script src="scripts/modernizr.custom.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <script src="<%= reportRoot %>/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="<%= reportRoot %>/ext-static_highlight.js"></script>
    <script src="<%= reportRoot %>/pretty.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700|Oswald:400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="<%= reportRoot %>/report.css">
</head>
<body>
<div class="container">
    <div id='header' class="<%- headerClass %>">
        <h3>Code Coverage</h3>
        <h1><% _.forEach( crumbtrail, function(crumb,i) { -%>
            <% if( i > 0 ) { %> <b> / </b><% } -%>
            <% if( crumb.url ) { -%>
            <a class='dir' href="<%- crumb.url %>"><%- crumb.name %></a>
            <% } else { %>
            <span class="self"><%- crumb.name %></span>
            <% } } ); -%>
        </h1>
    </div>
    <div class="wrapper">
        <div class="summary">
            <h2>Summary</h2>
            <div class="stats">
                <%- include( "./percentbar.html", { label: "Lines", color: stats.linesColor, percent: stats.linesPercentStr, numerator: stats.linesHit, denominator: stats.lines } ) %>
                <%- include( "./percentbar.html", { label: "Blocks", color: stats.blocksColor, percent: stats.blocksPercentStr, numerator: stats.blocksHit, denominator: stats.blocks } ) %>
                <%- include( "./percentbar.html", { label: "Functions", color: stats.functionsColor, percent: stats.functionsPercentStr, numerator: stats.functionsHit, denominator: stats.functions } ) %>
            </div>
        </div>
        <h2>Code</h2>
        <div class="content">
            <pre id="editor" class="code" ace-gutter="true" ace-mode="ace/mode/oscript" ace-theme="ace/theme/chrome"><%= code %></pre>
            <script>

                $( function() {
                    var editor = $( '#editor');
                    var p = new Pretty( editor[0] );
                    editor.css( 'overflow', 'auto' );

                    var lineFormatting = <%- lineFormatting %>;
                    var lines = editor.find( 'div.ace_line' );

                    lines.each( function( index, el ) {
                        var lineFormat = lineFormatting[index],
                            gutterStyle = "",
                            gutterContent = "&nbsp;",
                            gutterClass = "",
                            timingStr = "";

                        var elem = $( el );
                        elem.attr( 'line', index );

                        if( lineFormat )  {
                            gutterStyle = lineFormat.gutterStyle || "";
                            gutterClass = lineFormat.gutterClass || "";
                            gutterContent = lineFormat.gutterContent || "&nbsp;";

                            if( lineFormat.lineStyle ) {
                                elem.css( lineFormat.lineStyle );
                            }
                            if( lineFormat.lineClass ) {
                                elem.addClass( lineFormat.lineClass );
                            }

                            if( lineFormat.hasOwnProperty( "totalTime" ) ) {
                                timingStr = "<span class='cov-timing' value='total: " + ( lineFormat.totalTime / 1000.0 ).toFixed(3) + "s, avg: " + ( lineFormat.avgTime ).toFixed(3) + "ms'></span>";
                            }
                        }

                        $( this.children[0] ).after( "<span class='coverage-hit-counter " + gutterClass + "' style='" + gutterStyle + "' value='" + gutterContent + "'></span>" + timingStr );
                    } );

                    $( '#header' ).on( 'click', 'a.dir', function( e ) {
                        e.preventDefault();
                        e.stopPropagation();
                        window.location = $( e.target).attr( "href" ) + window.location.hash;
                    } );

                    var scriptLinks = <%- scriptLinks %>;
                    $( '#editor').on( 'click', "span.ace_function[callType=this]", function( e ) {
                        var scriptName = $( e.target ).attr( "name"), scriptLC = scriptName.toLowerCase();
                        var found = scriptLinks.some( function( x ) {
                            if( x.name.toLowerCase() === scriptLC ) {
                                window.location = x.path + ".Script.html" + window.location.hash;
                                return true;
                            }
                        } );
                    } );
                });

            </script>
        </div>
    </div>
    <div id='footer' >
        Coverage report generated on <%- Date() %>
    </div>
</div>
</body>
</html>